__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.idea
.vscode
*.log
logs/
reports/venv
reports/env
.gitignore
debug_search_*.html
PISZbot.zip
test.py